body {
  font-family: 'Spicy Rice', 'Gowun Dodum', cursive, sans-serif;
  background: #7b5518;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.screen {
  padding: 40px;
}

h1 {
  font-size: 48px;
  color: #2271b1;
  margin: 20px;
}

button {
  font-family: 'Spicy Rice', 'Gowun Dodum', cursive, sans-serif;
}

footer {
  margin-top: 40px;
  padding: 20px;
  font-size: 14px;
  color: #999;
  font-family: 'Spicy Rice', 'Gowun Dodum', cursive;
}

@media (max-width: 600px) {
  h1 {
    font-size: 42px;
  }
}
